{% extends "layout2.html" %}
{% block content %}
<main role="main">
    <!-- Main content block -->
      <form action="" method="post">
      <center><br>
          <input type="text" id="input" name="input"> <input type="submit" value="확인" onclick="alert('검색 중!')" /></p>
          <br>
        </center>
	</form>

            </main>
{% for obj in data_list%}
<div style="display: inline-block; width: 129px; margin-right: 4px; margin-bottom: 20px; text-align:center; vertical-align: top;">


<tbody>
    <table>
      <tr>
          <td style="padding-left:5px"><img src={{obj.pic}} width="129" height="195"><br>
        <span style="font-size:0.9em;"><a href='/content/{{obj.idnovel}}'> {{obj.title}}</a></span></td>
      </tr>
    </table>
</tbody>
</div>
{% endfor %}
{% endblock %}