{% extends "layout2.html" %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>작품 목록</title>
</head>
<body>

<h3>작품 소개</h3>

<ul>
    {% for i in lists  %}
    <tr>
<center>
    <table>
      <tr>
        <td rowspan="8"><a href={{i.kakaopage}}><img src={{i.img_src}} width="129" height="195"></a></td>
      </tr>
      <tr>
        <td colspan="3"><span style = "font-weight: bold; font-size:1.5em;">　{{i.title}}</span></td>
      </tr>
      <tr><td><b>　연령</b> {{i.age}}</td></tr>
      <tr><td><b>　장르</b> {{i.genre}}</td></tr>
      <tr><td><b>　출판</b> {{i.publisher}}</td></tr>
      <tr><td><b>　연재화수</b> {{i.total}}</td></tr>
      <tr><td><b>　단어1</b> {{i.word1}}</td></tr>
      <tr><td><b>　단어2</b> {{i.word2}}</td></tr>
      <tr><td><b>　단어3</b> {{i.word3}}</td></tr>
      <tr><td><b>　단어4</b> {{i.word4}}</td></tr>
      <tr><td><b>　단어5</b> {{i.word5}}</td></tr>

        </table>
    <div>
        <p><b>소개</b>{{i.intro}}</p>
      </div></center>
        </div>
    </tr>
    {% endfor %}
</ul>
</body>
</html>

{% endblock %}