<!DOCTYPE HTML>
<html lang="kr">
  <head>
    <meta charset="utf-8">

    <title>DAWA</title>
  </head>

  <body>
  <header>
      <center>
      <nav>
          <a href="{{url_for('home')}}">menu</a>
          <a href="{{url_for('index')}}">main</a>
          <a href="{{url_for('menu')}}">menu</a>
          <a href="/content/1">list</a>
          <a href="https://series.naver.com/novel/home.nhn">naver serieson</a>
          <a href="https://page.kakao.com/main?categoryUid=11&subCategoryUid=1101">kakaopage</a>
          <a href="https://ridibooks.com/fantasy/">ridibooks</a>
          <a href="https://www.munpia.com/">munpia</a>
          <a href="http://www.joara.com/main.html">joara</a>
      </nav>
      <hr>
  </center>
  </header>
  </body>
</html>